body{
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:whitesmoke;
}
/*header*/
header{
   
    display: flex;
    width: 600px;
    height: 50px;
    position: fixed;
    background-color: ivory;
    justify-content: space-between;
    
   
}
header #name{
        color: rgb(77, 151, 156);
        flex: 5;
        padding-left: 8rem;
}
header  #links{
    display: flex;
    flex: 5;
    padding-left: 5rem;
    justify-content: space-around;
    padding-top: 27px;
    

}
#links a{
    text-decoration: none;
    font-size: 20px;
    color: rgba(43, 37, 37,0.7);
    
}
#links a:hover{
    color: rgba(110, 110, 248,0.5);
}
/*footer*/
#footer {
    padding-top: 2px;
    padding-bottom: 2px;
    width: 500px;
    position: static;
    background-color:grey;
    color: rgba(240,240,240,0.5);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.4px;
    justify-items: center;
}
/*profile section*/
.profile{
    width:600px;
    height: 500px;
    background-color: rgb(103, 103, 103);
    
}
#profile{
    display: flex;
    height: 500px;
    padding-top: 10rem;
    
} 
/* profile picture*/
#profile #pic{
    display: flex;
    padding-top: 9rem;
    padding-bottom: 9rem;
    justify-content: center;
    align-items: center;
    align-items: center;
    flex: 3.5;
}
#profile #pic img{
    width: 220px;
    height: 220px;
    border-radius: 100%;
    border: 5px solid rgb(77, 151, 156);
     box-shadow: 2px 2px 5px 5px rgba(6, 6, 6, 0.5);
   
}
/*profile details*/
#profile #details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:6.5;
}
#profile h1{
        font-size: 40px;
}
span{
    color: rgb(77, 151, 156);
}
#profile p{
    font-size: 26px;
    color: rgba(0,0,0,0.8);
}

button {
    width: 27%;
    height: 15%;
    background-color:rgb(6, 251, 76) ;
    border-radius: 25px;
}
button:hover{
     background-color: rgb(65, 167, 65);
     box-shadow: -2px -2px 2px 2px rgba(0, 0, 0, 0.8);
}
button a{
    text-decoration: none;
    font-size: 20px;
    color: rgba(43, 37, 37,0.7);
}

/*about section*/
#about1{
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;

}
#about{
        width: 300px;
        height: 200px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
        
        
}
#about #h1{
            display: flex;
            justify-content: center;
}
#about #p{
            padding-bottom: 1rem;
            padding-left: 1rem;
            padding-right: 1rem;

}/*education section*/
#education{
        display: flex;
        justify-content: center;
        width: 600px;
        height: 400px;
        padding-top:20rem ;
        background-color: rgb(135, 153, 168);
        
}
#educationdiv{
   
    width: 400px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);

}/*education heading*/
#education #heading {
           display: flex;
           justify-content: center;
           padding-top: 1rem;
           padding-bottom: 1rem;
           
}
#education #bottompart{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}  
#education #bottompart #left{
     display: flex;
     flex-direction: column;
     width:120px;
     height:100px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
    background-color: rgba(186, 186, 186,0.4);
}
#education #bottompart #right{
     display: flex;
     flex-direction: column;
      width: 120px;
     height:100px;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px; 
    background-color: rgb(186, 186, 186,0.4);
}  

/*skills*/
#skills{
    display: flex;
    width: 600px;
    height: 500px;
    background-color: rgb(191, 191, 191);
}
#skillsdiv{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#skilldescription{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    padding-right: 5rem;
    padding-left: 5rem;
    
    
}
.skills{
    width: 200px;
    height: 200px;
    margin-top: 2rem;
    background-color:white;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
#skillsdiv #top{
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 40px;
}
/* skills descriptions*/
#html{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#html img{
    width: 50px;
    height: 50px;
    margin-top: 2.5rem;
}
#css{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#css img{
    width: 50px;
    height: 50px;
    margin-top: 2.5rem;
}
#js{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#js img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-top: 2.5rem;
}
#react{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#react img{
    width: 50px;
    height: 50px;
    margin-top: 2.5rem;
}
#nodejs {
    display: flex;
    flex-direction: column;
    align-items: center;

}
#nodejs img{
    width: 50px;
    height: 50px;
    margin-top: 2.5rem;
}
#c{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#c img{
    width: 50px;
    height: 50px;
    margin-top: 2.5rem;
}
#java{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#java img{
    width: 50px;
    height: 50px;
    margin-top: 2.5rem;
}
#springboot{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#springboot img{
    width: 50px;
    height: 50px;
    margin-top: 2.5rem;
}
#mongodb {
    display: flex;
    flex-direction: column;
    align-items: center;

}
#mongodb img{
    width: 50px;
    height: 50px;
    margin-top: 2.5rem;
}
#mysql{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#mysql img{
    width: 50px;
    height: 50px;
    margin-top: 2.5rem;
}
#aws{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#aws img{
    width: 50px;
    height: 50px;
    margin-top: 2.5rem;
}
#git{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#git img{
    width: 50px;
    height: 50px;
    margin-top: 2.5rem;
}


/*projects*/
#project{
    width: 100vw;
    height: 100vh;
    background-color: rgb(138, 216, 216);
  
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    font-size: 40px;
}
#projectcontainer{
    width: 70vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 5rem;
    

}
.pro{
    width: 300px;
    height: 200px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
a{
    text-decoration: none;
    color: black;
}
.h1{
    width: 300px;
    height: 90px;
    font-size: 40px;
    font-weight: 200;
    background-color: rgb(156, 246, 216);
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    
}
.p{
    width: 300px;
    height: 110px;
    font-size: 25px;
    font-weight: 300;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    background-color: rgb(52, 91, 91);
}
.h1:hover{
        background-color: azure;
}
.p:hover{
    background-color: azure;
}

/*contacts*/
#contact{
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    
}
#contacts{
    width:300px;
    height:200px;
    border-radius: 20px;
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.5);
}

#details{
     
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-top: 2rem;
}
.social{
    height: 100px;
    width: 100px;
}
.social img{
    width: 50px;
    height: 50px;
}
#mobile{
    display: flex;
    gap: 15px;

}
#mobile #phone{
    width: 20px;
    height: 20px;
    margin-left: 7rem;
}
#mobile #phone img{
    width: 50px;
    height: 50px;

}
#mobile #number{
    font-size: 36px;
    margin-left: 1rem;

}

